/*{
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;

}*/
.contact-section{
    margin-top: 50px;
}
.contact-section h1{
    /*text-align: center;
    color: orange;*/
    float: left;
    font-size: 50px;
    border-bottom: 6px solid;
    margin-bottom: 40px;
    padding: 13px 0;
    color: #45220a;
    font-family: 'Indie Flower', cursive;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #45220a;
    padding: 20px 40px;
    outline: none;
    color: #fff;
    /*transition: 0.5s;*/
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    height: 150px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #45220a;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    /*transition: 0.5s;*/
}
.contact-form-btn:hover{
    background: #2980b9;
}
.contact-section {
  overflow: auto;
  padding-bottom: 200px;
}
